[GLOBAL]
pants_version = "2.30.1"
pantsd = true
backend_packages = [
  "pants.backend.python",
  "pants.backend.python.lint.black",
  "pants.backend.python.lint.docformatter",	
  "pants.backend.python.lint.flake8",
  "pants.backend.python.lint.isort",
  "pants.backend.python.typecheck.mypy",
]

[source]
root_patterns = [
  '/src/py',
]

[generate-lockfiles]
diff = true
diff_include_unchanged = true

[cli.alias]
citest = "fmt lint check"

[python]
interpreter_constraints = ["==3.14.*"]
enable_resolves = true
default_resolve = "resolver_python_3_14"

[python.resolves]
resolver_python_3_14 = "src/py/3rdparty/resolver_python_3_14.lock"
resolver_citest = "src/3rdparty/python/citest_resolve.lock"

[docformatter]
args = ["--wrap-summaries=100", "--wrap-descriptions=100"]

# [flake8]
# install_from_resolve = "citest_resolve"
# config = "devops/python/lint.toml"
# 
# [isort]
# install_from_resolve = "citest_resolve"
# config = "devops/python/lint.toml"
# 
# [black]
# install_from_resolve = "citest_resolve"
# config = "devops/python/lint.toml"
# 
# [mypy]
# install_from_resolve = "citest_resolve"
# config = "devops/python/lint.toml"
# args = [
#   "--check-untyped-defs",
# ]